[submodule "workshop/terraform/gke-network-policy-demo"]
	path = workshop/terraform/gke-network-policy-demo
	url = https://github.com/GoogleCloudPlatform/gke-network-policy-demo.git
[submodule "workshop/terraform/gke-rbac-demo"]
	path = workshop/terraform/gke-rbac-demo
	url = https://github.com/GoogleCloudPlatform/gke-rbac-demo.git
[submodule "workshop/terraform/gke-security-scenarios-demo"]
	path = workshop/terraform/gke-security-scenarios-demo
	url = https://github.com/GoogleCloudPlatform/gke-security-scenarios-demo
[submodule "workshop/terraform/gke-istio-vpn-demo"]
	path = workshop/terraform/gke-istio-vpn-demo
	url = https://github.com/GoogleCloudPlatform/gke-istio-vpn-demo.git
[submodule "workshop/terraform/gke-migration-to-containers"]
	path = workshop/terraform/gke-migration-to-containers
	url = https://github.com/GoogleCloudPlatform/gke-migration-to-containers.git
[submodule "workshop/terraform/gke-rolling-updates-demo"]
	path = workshop/terraform/gke-rolling-updates-demo
	url = https://github.com/GoogleCloudPlatform/gke-rolling-updates-demo.git
[submodule "workshop/terraform/gke-tracing-demo"]
	path = workshop/terraform/gke-tracing-demo
	url = https://github.com/GoogleCloudPlatform/gke-tracing-demo.git
[submodule "workshop/terraform/gke-logging-sinks-demo"]
	path = workshop/terraform/gke-logging-sinks-demo
	url = https://github.com/GoogleCloudPlatform/gke-logging-sinks-demo.git
[submodule "workshop/terraform/gke-vault-demo"]
	path = workshop/terraform/gke-vault-demo
	url = https://github.com/GoogleCloudPlatform/gke-vault-demo.git
[submodule "workshop/terraform/gke-managed-certificates-demo"]
	path = workshop/terraform/gke-managed-certificates-demo
	url = https://github.com/GoogleCloudPlatform/gke-managed-certificates-demo.git
[submodule "workshop/terraform/gke-networking-demos"]
	path = workshop/terraform/gke-networking-demos
	url = https://github.com/GoogleCloudPlatform/gke-networking-demos.git
[submodule "workshop/terraform/infra-as-code-workshop"]
	path = workshop/terraform/infra-as-code-workshop
	url = https://github.com/sethvargo/infra-as-code-workshop
[submodule "workshop/terraform/sethvargo-vault-on-gke"]
	path = workshop/terraform/sethvargo-vault-on-gke
	url = https://github.com/sethvargo/vault-on-gke
[submodule "workshop/terraform/terraform-google-gke"]
	path = workshop/terraform/terraform-google-gke
	url = https://github.com/gruntwork-io/terraform-google-gke.git
[submodule "workshop/terraform/terraform-google-load-balancer"]
	path = workshop/terraform/terraform-google-load-balancer
	url = https://github.com/gruntwork-io/terraform-google-load-balancer.git
[submodule "workshop/terraform/terraform-google-network"]
	path = workshop/terraform/terraform-google-network
	url = https://github.com/gruntwork-io/terraform-google-network.git
[submodule "workshop/terraform/terraform-google-sql"]
	path = workshop/terraform/terraform-google-sql
	url = https://github.com/gruntwork-io/terraform-google-sql
[submodule "workshop/terraform/terraform-google-static-assets"]
	path = workshop/terraform/terraform-google-static-assets
	url = https://github.com/gruntwork-io/terraform-google-static-assets
[submodule "workshop/terraform/terraform-kubernetes-helm"]
	path = workshop/terraform/terraform-kubernetes-helm
	url = https://github.com/gruntwork-io/terraform-kubernetes-helm.git
[submodule "workshop/terraform/terraform-google-vault"]
	path = workshop/terraform/terraform-google-vault
	url = https://github.com/hashicorp/terraform-google-vault.git
[submodule "workshop/terraform/terragrunt-infrastructure-live-example"]
	path = workshop/terraform/terragrunt-infrastructure-live-example
	url = https://github.com/gruntwork-io/terragrunt-infrastructure-live-example.git
[submodule "workshop/terraform/terragrunt-infrastructure-modules-example"]
	path = workshop/terraform/terragrunt-infrastructure-modules-example
	url = https://github.com/gruntwork-io/terragrunt-infrastructure-modules-example.git
[submodule "workshop/terraform/gke-application-security-demo"]
	path = workshop/terraform/gke-application-security-demo
	url = https://github.com/GoogleCloudPlatform/gke-application-security-demo
[submodule "workshop/istio/istio-demo"]
	path = workshop/istio/istio-demo
	url = https://github.com/mantel-digio/istio-demo.git
[submodule "workshop/istio/istio-gke"]
	path = workshop/istio/istio-gke
	url = https://github.com/stefanprodan/istio-gke.git
[submodule "workshop/istio/istio-service-mesh-workshop"]
	path = workshop/istio/istio-service-mesh-workshop
	url = https://github.com/leecalcote/istio-service-mesh-workshop.git
[submodule "workshop/istio/istio-workshop"]
	path = workshop/istio/istio-workshop
	url = https://github.com/christian-posta/istio-workshop.git
[submodule "workshop/istio/istio-workshop-retroryan"]
	path = workshop/istio/istio-workshop-retroryan
	url = https://github.com/retroryan/istio-workshop.git
[submodule "workshop/istio/Istio101"]
	path = workshop/istio/Istio101
	url = https://github.com/thesandlord/Istio101.git
[submodule "workshop/istio/istio-workshop-christian-posta"]
	path = workshop/istio/istio-workshop-christian-posta
	url = https://github.com/christian-posta/istio-workshop.git
[submodule "workshop/terraform/terraform-google-bucket"]
	path = workshop/terraform/terraform-google-bucket
	url = git@github.com:veggiemonk/terraform-google-bucket
[submodule "workshop/terraform/terraform-google-project"]
	path = workshop/terraform/terraform-google-project
	url = git@github.com:veggiemonk/terraform-google-project
[submodule "workshop/terraform/terraform-google-secrets"]
	path = workshop/terraform/terraform-google-secrets
	url = git@github.com:veggiemonk/terraform-google-secrets
[submodule "workshop/terraform/terraform-google-forseti"]
	path = workshop/terraform/terraform-google-forseti
	url = https://github.com/forseti-security/terraform-google-forseti.git
